@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/real-miami');

#shape{
    font-family: 'Real Miami', sans-serif;
    color: white;
    font-size: 4.8rem;
    font-weight: 400;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;

}

body {
    background-color: black;
}

header {
    margin: 0 auto;
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0.075) 100%);
}

/* shared style */
.display-flex {
    display: flex;
}

button {
    font-size: 1.12rem;
    font-weight: 600;
    background-color: #E6533C;
    color: white;
    border-radius: 42px;
    border: none;
    cursor: pointer;

}

.fa-solid {
    color: white;
    font-size: 1.5rem;
    display: none;
}

.color-white {
    color: white;
}

.color-white-half {
    color: #FFFFFF80;
}

.for-mobile {
    display: none;
}

/* nav section style */

#nav-title {
    font-size: 2.25rem;
    font-weight: 800;
    color: #E6533C;
}

.nav-section {
    margin: 0px auto;
    width: 80%;
    justify-content: space-between;
}



.nav-items {
    margin-top: 35px;
    gap: 60px;
}

.nav-items a {
    color: white;
    text-decoration: none;
}

.nav-items li {
    margin-top: 10px;
    list-style: none;
}

.nav-items button {
    width: 90px;
    height: 40px;
}



/* banner section style */

.banner-container {
    justify-content: space-evenly;
}

.banner-description button {
    width: 224px;
    height: 54px;
}

.btn-container {
    background-color: #0F0F0F;
    margin-left: 12px;
    border: 1px solid white;
}

.banner-description h1 {
    color: white;
    font-size: 4.87rem;
    font-weight: 900;
    margin-bottom: 20px;
}

.banner-description p {
    color: #FFFFFF80;
    margin-bottom: 20px;
}

.banner-img-container {
    position: relative;
}

.position-1 {
    position: absolute;
    gap: 10px;
    width: 200px;
    height: auto;
    bottom: 20%;
    right: 70%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);

}

.dot {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: inline-block;
    margin-top: 30px;
    margin-left: 23px;
    background-color: #E6533C;
}

.position-1-title {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 15px 0 8px;
}

.p-1 {
    margin-top: 8px;
}

.position-2 {
    position: absolute;
    width: 200px;
    bottom: 60%;
    left: 70%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
}

.position-2-title {
    font-size: 2.5rem;
    margin-top: 17px;
    margin-bottom: 5px;
    margin-left: 24px;


}

.p-2 {
    margin-left: 24px;
    margin-top: 5px;
}

/* habits section style */

.habits-section {
    text-align: center;
    width: 60%;
    margin: 80px auto;
}

.habits-section h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.habit-image-container img {
    border-radius: 50%;
}

.habit-image-container h5 {
    font-size: 1.12rem;
    font-weight: 600;
    margin-top: 30px;
    margin-bottom: 2px;
}

.habit-image-container p {
    padding: 10px;
    margin-top: 2px;
}

.habit-description {
    justify-content: space-between;
}

/* run section style */

.run-section {
    width: 60%;
    margin: 80px auto;
    padding: 20px 0;
    border-radius: 20px;
    background: rgb(34, 34, 34);
    justify-content: space-around;
    gap: 160px;

}

.run-content h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 14px;
}

.run-content button {
    width: 220px;
    padding: 16px 40px 16px 40px;
}

/* BMi section style */

.bmi-section {
    background: rgb(34, 34, 34);

}

.bmi-title {
    text-align: center;
}


table,
th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
}

td,
th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 15px 70px 15px 15px;

}

.bmi-title h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.bmi-chart-calculate h3 {
    font-size: 1.75rem;
    font-weight: 900;
}

input,
select {
    width: 283px;
    height: 50px;
    margin: 5px 5px;
    border-radius: 8px;
    border: none;
    background: rgba(255, 255, 255, 0.1);
}

.factor {
    width: 595px;
    color: #FFFFFF99;
}

.gender {
    width: 290px;
    color: #FFFFFF99
}


.Calculate-title {
    font-size: 1.75rem;
    font-weight: 900;
    margin-bottom: 10px;

}

.input-section {

    flex-direction: column;
}

.bmi-calculator-container {
    justify-content: space-around;
}


.btn-calculate {
    width: 224px;
    height: 54px;
    margin: 30px 0 50px;
    padding: 16px 40px 16px 40px;
}

/* team section style */

.team-section {}

.team-title {
    margin-top: 90px;
    text-align: center;
}

.team-title h1 {
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 10px;
}

.team-character {
    width: 55%;
    margin: 50px auto;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.103);
}

.img-container {
    position: relative;
    width: 330px;
}

.img-container img {
    width: 100%;
    height: 100%;
    border-radius: 20px;

}

.identity {
    margin-left: 20px;
    position: absolute;
    bottom: 3%;
}

.identity h3 {
    margin-bottom: 3px;
}

.identity p {
    margin-top: 3px;
}

/* save Bangladesh student */
.save-student{
    margin-top: 200px;
}
.student-title{
    text-align: center;
}
.student{
    color: #E6533C;
    font-size: 84px;
    font-weight: 900;
    margin-bottom: 10px;
    font-family: 'Real Miami', sans-serif;
}
.image-container{
    margin: 20px auto;
    width: 80%;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    
}
.image-container img{
    margin-left: 50px;
    border-radius: 15px;
    width: 640px;
    height: 350px;
}

.image-container img{
   
}

/* footer section style */

footer{
    height: 420px;

    background-color:rgba(255, 255, 255, 0.1);
}
footer a{
  text-decoration: none;
    color: #FFFFFF80;
    
}
footer li{
    list-style: none;
    margin-bottom: 15px;
    
}
footer p{
    font-size: .77rem;
    color: #FFFFFF80;
}
footer h3{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: white;
}
.footer-description{
    width: 70%;
    margin: 70px auto;
    justify-content: space-around;
}
.footer-title{
    font-size: 4.37rem;
    font-weight: 800;
    margin-bottom: 10px;
    color: #E6533C;
}
hr{
    width: 70%;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin: 80px auto 30px;
}
.all-right-reserved{
    font-size: 1.25rem;
    text-align: center;
    margin-top: 50px;
}





/* mobile phone responsive style */
@media screen and (max-width:576px) {

    .nav-section {
        width: 80%;

    }

    .nav-items {
        display: none;
    }

    .fa-solid {
        margin-top: 40px;
        color: white;
        font-size: 1.5rem;
        display: inline-block;

    }

    .banner-container {
        width: 100%;
        flex-direction: column;

    }

    .banner-img-container {
        width: 80%;
    }

    .banner-description {
        width: 95%;
    }

    .banner-description button {
        width: 165px;
        font-size: 1rem;
    }

    .banner-description h1 {
        font-size: 2rem;
    }

    .banner-description p {
        font-size: .87rem;
    }

    #shape {
        font-size: 2rem;
    }

    .for-pc {
        display: none;
    }

    .for-mobile {
        display: inline-block;
    }

    .position-1 {
        position: absolute;
        gap: 10px;
        width: 200px;
        height: auto;
        bottom: 40%;
        right: 70%;
        left: 5%;

    }

    .position-2 {
        position: absolute;
        width: 190px;
        height: 110px;
        bottom: 60%;
        left: 50%;
        top: 10%;
    }

    .position-2-title {
        font-size: 1.8rem;
    }

    .club {
        display: none;
    }

    .habits-section {
        width: 80%;
        margin-left: 25px;
    }

    .habits-section h1 {
        font-size: 2rem;
    }

    .habits-section p {
        font-size: .87rem;
    }

    .habit-description {
        flex-direction: column;
    }

    .run-section {
        flex-direction: column;
        width: 80%;
        text-align: center;
        gap: 35px;
        padding: 30px;
    }
    .run-content h1{
        font-size: 2rem;
    }
    .run-content p{
        font-size: .87rem;
    }

    .run-img img {
        width: 100%;
    }

    .bmi-calculator-container {
        flex-direction: column;
        width: 100%;
        margin-left: 8px;
    }

    .factor {
        width: 360px;

    }

    .bmi-section {
        width: 100%;
    }

    .bmi-section h1 {
        font-size: 2rem;
    }

    .bmi-section h3 {
        font-size: 1rem;
    }

    .input-content input {
        width: 170.5px;
    }

    .input-content select {
        width: 170.5px;
    }

    .team-character {
        grid-template-columns: repeat(1, 1fr);
    }

    .img-container img {
        width: 313px;
        height: 272px;
        margin-left: 20px;
    }


    .team-character{
        width: 340px;
    }
    .team-title h1{
        font-size: 2rem;
    }
    .footer-description{
        flex-direction: column;
    }
    footer{
        border-radius: 20px;
        height: 880px;
    }
    .image-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .image-container img{
        width: 100%;
        margin-left: 5px;
    }
    .student{
        font-size: 64px;
    }

}